

@import "../../node_modules/bootstrap/scss/functions"; 
@import "../../node_modules/bootstrap/scss/variables";

//my SASS variables 

//prmary colour 
$theme-colors: map-merge($theme-colors, (
    
    primary: #01746F, 
    secondary: #49D4AD

)); 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";